body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    text-align: center;
}

.submit-button {
    align-self: center;

    padding: 0.45rem;
    margin: 0.5rem;
    border-radius: 10px;
    /* border: 1px solid black; */
    border: none;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    color: white;
    background: rgb(97, 97, 193);
    font-size: 14px;
}

.candidate-image {
    display: block;
    margin-inline: auto;
    margin-block: 1.2rem;
    height: 170px;
}

dialog {
    border: 1px solid black;
    padding: 1rem;
    align-content: center;
}